<a href="https://colab.research.google.com/github/FirySnehasis/InvestX/blob/main/Code2Assignment1Invest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
####### Here I have calculated the Volume Price Indicator ###########

import numpy as np
import pandas as pd
import yfinance as yf
import math
import matplotlib.pyplot as plt

In [28]:
data = yf.download("AAPL", start="2017-01-01", end="2017-04-30")

[*********************100%***********************]  1 of 1 completed

In [29]:
data['Price Change'] = data['Close'].pct_change()
data['Price Change'].fillna(0, inplace=True)
# Calculate Volume Price Trend
data['VPT'] = (data['Volume'] * data['Price Change']).cumsum()

In [30]:
data

,Open,High,Low,Close,Adj Close,Volume,Price Change,VPT
Date,,,,,,,,
2017-01-03,28.950001,29.082500,28.690001,29.037500,27.095846,115127600,0.000000,0.000000e+00
2017-01-04,28.962500,29.127501,28.937500,29.004999,27.065519,84472400,-0.001119,-9.454864e+04
2017-01-05,28.980000,29.215000,28.952499,29.152500,27.203159,88774400,0.005085,3.569015e+05
2017-01-06,29.195000,29.540001,29.117500,29.477501,27.506430,127007600,0.011148,1.772820e+06
2017-01-09,29.487499,29.857500,29.485001,29.747499,27.758371,134247600,0.009159,3.002458e+06
...,...,...,...,...,...,...,...,...
2017-04-24,35.875000,35.987499,35.794998,35.910000,33.654091,68537200,0.009630,4.514194e+07
2017-04-25,35.977501,36.224998,35.967499,36.132500,33.862610,75486000,0.006196,4.560966e+07
2017-04-26,36.117500,36.150002,35.845001,35.919998,33.663456,80164800,-0.005881,4.513820e+07
2017-04-27,35.980000,36.040001,35.827499,35.947498,33.689228,56985200,0.000766,4.518182e+07
2017-04-28,36.022499,36.075001,35.817501,35.912498,33.656425,83441600,-0.000974,4.510058e+07